.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subContainer{
    width: 60%;
    margin: 10%;
    box-shadow: 1px 1px 10px 1px grey;
    border-radius: 5px;
}

.actionbuttons{
    width: 150px;
    display: flex;
    justify-content: space-between;
}